<div class="full-park-info">
  <h3><%= @park.name %><br><small>  <%= @park.state %></small></h3>

  <div class="park-display">
    <%= image_tag @park.main_image, class: "park-display-image" %>
  </div>


  <div class="callout">
    <ul class="menu simple">
      <% if !current_user.nil? %>
        <% if current_user.id == @park.user_id || current_user.admin? %>
          <li><%= link_to "Edit Park", edit_park_path(@park) %></li>
        <% end %>
        <% if current_user.admin? %>
          <li>
            <%= link_to "Delete Park", @park,
              method: :delete, data: { confirm: "Are you sure you want to delete the following park:\n #{@park.name}" } %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <ul class="menu simple">
      <% if !@park.year_founded.nil? %>
        <li>Year Founded: <%= @park.year_founded %></li>
      <% end %>
      <% if !@park.area_miles.nil? %>
        <li>Area (miles<sup>2</sup>): <%= @park.area_miles %></li>
      <% end %>
    </ul>

    <div>
      <% if !current_user.nil? %>
        Submitted by: <%= link_to "#{@creator_name}", user_path(@park.user) %>
      <% end %>
    </div>
  </div>

</div>
