<%= render 'full_park_info' %>

<% if user_signed_in? %>
  <%= javascript_tag do %>
    window.user_id = <%= current_user.id %>;
    window.park_id = <%= @park.id %>;
    window.review_id_list = <%= @review_id_list %>;
  <% end %>
<% end %>

<div class="reviews">
  <h3>Member Reviews (<%= @park.reviews.length %>)</h3>
  <%= render partial: "reviews/review_display", collection: @reviews, as: :review %>
</div>
