<% if !current_user.nil? %>
  <% if current_user.id == @park.user_id || current_user.admin? %>
    <br><%= link_to "Edit Park", edit_park_path(@park) %><br>
  <% end %>
<% end %>

<h1><%= @park.name %></h1>
<% @test_link %>

<% if user_signed_in? %>
  <h3>Submitted by <%= link_to "#{@creator_name}", user_path(@park.user) %></h3>
<% end %>

<ul>
  <li>Location: <%= @state[0] %></li>
  <% if !@park.year_founded.nil? %>
    <li>Year Founded: <%= @park.year_founded %></li>
  <% end %>
  <% if !@park.area_miles.nil? %>
    <li>Area (sq. miles): <%= @park.area_miles %></li>
  <% end %>
</ul>

<%= image_tag @park.main_image.url %>
