<%= render "full_park_info" %>

<% if @display_weather %>
  <%= render "park_forecasts/park_3_day_forecast" %>
<% end %>

<% if user_signed_in? %>
  <%= javascript_tag do %>
    window.user_id = <%= current_user.id %>;
    window.park_id = <%= @park.id %>;
    window.review_id_list = <%= @review_id_list %>;
  <% end %>
<% end %>

<div class="reviews">
  <h3>Member Reviews (<%= @park.reviews.length %>)
    <% if !current_user.nil?%>
      - <%= link_to "Write a Review", new_park_review_path(@park) %>
    <% end %></h3>
  <%= render partial: "reviews/review_display", collection: @reviews, as: :review %>
</div>
