<h3>Edit Account Information for <%= @user.display_name %></h3>

<%= form_for(@user, action: "admin_update" ) do |f| %>
  <div class="field">
    <%= f.label :display_name, "Display Name" %> <i>(minimum of 5 characters, no spaces)</i><br />
    <%= f.text_field :display_name %>
  </div>

  <% if @user.avatar.url == @default %>
    <h5>No user avatar provided</h5>
  <% elsif f.object.avatar? && @user.errors.empty? %>
    <%= image_tag f.object.avatar.thumb.url %>
  <% end %>

  <%= f.label :avatar, "User Avatar" %><em> (Max size: 500kb)</em><br>
  <%= f.file_field :avatar %><br>
  <%= f.label :remove_avatar, "Remove avatar?" %>
  <%= f.check_box :remove_avatar %>

  <br><br>

  <%= f.submit 'Submit' %>

<% end %>
