<h1>
  <% if @user.display_name.nil? || @user.display_name == "" %>
    <%= @user.email %>'s details</h1>
  <% else %>
    <%= @user.display_name %>'s details</h1>
  <% end %>
  <%= image_tag @user.avatar.thumb %><br>

<% if current_user.id == @user.id || current_user.admin? %>
  <%= link_to "Manage Sign in Details", edit_user_registration_path %><br>
  <%= link_to "Edit Display Name and Avatar", edit_user_path(@user) %>
<% end %>

<p>Display Name:
<% if @user.display_name.nil? || @user.display_name == "" %>
  <%= "not set" %>
<% else %>
  <%= @user.display_name %>
<% end %></p>

<h3>Submitted Parks</h3>
<ul>
  <% @parks.each do |park| %>
    <li><%= link_to "#{park.name}", park_path(park) %></li>
  <% end %>
</ul>

<h3>Reviewed Parks</h3>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to "#{review.park.name}", park_path(review.park) %><br>
      <%= review.title %>
    </li>
  <% end %>
</ul>
