<h3><%= @user.display_name %>'s details</h3>
<%= image_tag @user.avatar.thumb, class: "avatar-thumb" %><br>

<% if current_user.id == @user.id || current_user.admin? %>
  <%= link_to "Manage Sign in Details", edit_user_registration_path %><br>
  <%= link_to "Edit Display Name and Avatar", edit_user_path(@user) %>
<% end %>

<h3>Submitted Parks</h3>
<ul>
  <% @parks.each do |park| %>
    <li><%= link_to "#{park.name}", park_path(park) %></li>
  <% end %>
</ul>

<h3>Submitted Reviews</h3>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to "#{review.park.name}", park_path(review.park) %><br>
      <%= review.title %>
    </li>
  <% end %>
</ul>
