<div class="callout">
  <h5>Forecast for <%= "#{@park.nearby_city}, #{@park.state_abbreviation}" %></h5>

  <div class="row text-center">
    <% @simple_forecast.each do |forecast| %>
      <div class="small-2 large-3 columns">
        <strong><%= forecast[:date] %></strong>
        <p class="temp-display">High: <%= forecast[:high] %>˚F</p><br>
        <p class="temp-display">Low: <%= forecast[:low] %>˚F</p>
      </div>
    <% end %>

  </div>
  <p><small><%= (@forecast.created_at - 14400).strftime "updated at %I:%M%P %m/%d EST" %></small></p>
</div>
