<!DOCTYPE html>
<html>
  <head>
    <title>National Parks Review</title>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/national-park-reviews-development/my_site.ico">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if signed_in? %>
      <%= link_to "#{current_user.email}", user_path(current_user) %> |
      <%= link_to "Add a Park", new_park_path %> |
      <%= link_to "Sign out", destroy_user_session_path, data: { method: 'delete' } %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %><br><br>

    <%= form_tag(parks_path, method: "get") do %>
      <%= label_tag(:search_terms, "Search Parks:") %>
      <%= text_field_tag(:search_terms) %>
      <%= submit_tag("Search") %>
    <% end %>

    <%= yield %>
  </body>
</html>
